@import "reset";
@import "themes/dark";
@import "themes/normal";
@import "variables/global";

.app {
  min-height: 100vh;

  background: var(--bg-color);
  color: var(--primary-color);
  
  font: var(--font-m);
}