:root {
  --font-family-main: Consolas, 'Times New Roman', serif;

  --fonr-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--fonr-size-m) / var(--font-line-m) var(--font-family-main);

  --fonr-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--fonr-size-l) / var(--font-line-l) var(--font-family-main);

  //Размеры

  --navbar-height: 50px;

  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}