.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--primary-color);

  z-index: -1;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s;
  background: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: var(--bg-color);
  max-width: 50%;
  padding: 20px;
  border-radius: 17px;

  transition: 0.3s transform ease-out;
  transform: scale(0.2);
}

.opened {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.closing {
  .content {
    transform: scale(0.1);
  }
}