.link {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.icon {
  fill: var(--inverted-primary-color);
  min-width: 20px;
  min-height: 20px;
}

.text {
  margin-left: 5px;
  //white-space: nowrap;
  transition: opacity 0.2s;
}

.collapsed {
  .text {
    opacity: 0;
    width: 0;
    pointer-events: none;
  }
}