.app.dark {
  --bg-color: #02064b;
  --inverted-bg-color: #dadada;

  --primary-color: green;
  --secondary-color: #00da00;
  --inverted-primary-color: #0119ce;
  --inverted-secondary-color: #385ffc;
}