.app.dark {
  --bg-color: #02064b;
  --inverted-bg-color: #dadada;

  --primary-color: #00da00;
  --secondary-color: green;
  --inverted-primary-color: #3346ff;
  --inverted-secondary-color: #2039a8;
}