.app_light_theme {
  --bg-color: #dadada;
  --inverted-bg-color: #02064b;

  --primary-color: #3346ff;
  --secondary-color: #2039a8;
  --inverted-primary-color: #00da00;
  --inverted-secondary-color: green;
}